.movie-detail-banner {
  position: relative;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 800px;
  margin: 0 auto;
}

.movie-detail-img{
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 85vw;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  object-fit: contain;
}

.banner-detail-area {
  bottom:0;
  left: 10%;
  position: absolute; 
  z-index: 100;
  color: white;
  /* background-color: #f9bc13; */
}

.detail-page-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* max-width: 1240px; */
  /* margin: 0 auto; */
  min-height: 100vh;
  /* background-color: orange; */
}

.movie-detail-banner .banner-text-area {
  /* position: absolute; */
  /* color: #fff; */
  /* width: 50%; */
}

.movie-detail-banner .banner-text-area h1 {
  /* margin-bottom: 10px; */
}

.movie-detail-info {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.movie-detail-info p {
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0;
}

.movie-genre {
  margin: 0 0 10px;
}

.detail-age {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0;
}

.movie-detail-info .movie-genre {
  margin: 0;
}

  
  .play-button .btn {
    height: 48px;
    padding: 0 20px;
  }
  
  .btn-play {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
  
  .bottom-contents {
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 40px;
    z-index: 20;
  }
  
  .bottom-contents .content-nav {
    margin-bottom: 40px;
  }
  
  .content-nav {
    overflow: hidden;
    width: 1240px;
    margin: 0 auto 20px;
  }
  
  .content-nav ul {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #2f2f2f;
    font-size: 0;
  }
  
  .content-nav ul li {
    vertical-align: middle;
  }
  
  .content-nav ul li + li {
    margin-left: 20px;
  }
  
  .content-nav ul li button {
    display: inline-block;
    padding: 0 10px;
    border-bottom: 4px solid transparent;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 63px;
    text-align: center;
    cursor: pointer;
  }
  
  .content-nav ul li button.on {
    border-bottom-color: #f9bc13;
    color: #fff;
  }
  
  .show-more-button {
    text-decoration: none;
    color: #f9bc13;
    margin: 0;
    padding: 0;
  }
  
  .show-more-button:hover {
    color: #f9bc13;
  }
  
  /* 반응형 */
  /* 768px 이하 */
  @media screen and (max-width: 768px) {
    .movie-detail-info,
    .movie-genre {
      display: none;
    }
  
    .play-button .btn {
      height: 30px;
      padding: 0 20px;
      font-size: 12px;
    }
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  justify-content: center;
  /* background-color: #444; */
  border: 1px solid #f9bc13 ;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  /* border: none; */
  outline: none;
  transition: 0.4s;
}

.accodion-inside1{
  width: 70vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accodion-inside2{
  width: 70vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.accordion-btn{
  height: fit-content;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.button{
  position: static;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.show-more {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.show-less {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-style{
  /* opacity: 2; */
  height: 500px;
  width: 100vw;
  background-color: transparent;
  color:#ccc
}